<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
     {% if Usuarios %}
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in Usuarios %}
            <tr>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.senha }}</td>
                <td>
                    <a href="{ % url 'usuarios:editar' usuario.id % }">Editar</a>
                    <a href="{ % url 'usuarios:excluir' usuario.id % }">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</body>
</html>